@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@300;400;700&family=ABeeZee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #000;
}

ul li,
ol li {
    list-style-type: none;
}

.btn-primary {
    background-color: #373737;
    color: #fff;
    padding: 13px 17px !important;
    border-radius: 5px;
    font: 400 18px/normal 'Roboto', Helvetica, Arial, sans-serif;
}

.container {
    padding-left: 140px;
}

.main-section {
    margin-bottom: 120px;
}

.section-titles {
    padding-left: 140px;
    margin-bottom: 45px;
}

.section-title {
    font: 400 30px/35px 'Roboto', Helvetica, Arial, sans-serif;
    color: #000;
    margin-bottom: 15px;
}

.section-undertitle-line {
    display: flex;
    font: 400 20px/23px 'Roboto', Helvetica, Arial, sans-serif;
    color: #373737;
}

.section-undertitle-line::before {
    content: "";
    height: 1px;
    width: 69px;
    align-self: center;
    background-color: #373737;
    margin-right: 7px;
}

/* Header */

header {
    display: flex;
    padding: 35px 55px 35px 35px;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 25px/normal 'Roboto', Helvetica, Arial, sans-serif;
}

.header-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.header-list__item a {
    font: 400 18px/normal 'Roboto', Helvetica, sans-serif;
}

.header-list__item:last-child {
    margin-left: 56px;
}

/* About Section */

.about-section {
    background-image: url('./img/background_main.png');
    background-size: cover;    
    height: 100%;
    display: flex;
}

.about-section-left {
    height: 100vh;
    width: 309px;
    height: 930px;
}

.about-section-right {
    display: flex;
    flex-direction: column;
    height: 930px;
}

.about-section-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(112.8deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
    backdrop-filter: blur(15px);
    height: 850px;
    padding-left: 55px;
}

.about-section-square {
    background-color: #000;
    width: 309px;
    height: 262px;
}


.about-section-right__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 81.98vw;
    height: 339px;
    margin-top: 250px;
    padding: 41px 0px 41px 0px;
    background: linear-gradient(112.8deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
    backdrop-filter: blur(15px);
}

.about-section-title {
    font: 400 36px/45px 'Revalia', Helvetica, Arial, sans-serif;
    color: #000;
    margin-bottom: 25px;
}

.about-section-subtitle {
    font: 400 20px/24px 'Roboto', Helvetica, Arial, sans-serif;
    color: #fff;
    margin-bottom: 30px;
}

.about-section-statistics {
    display: flex;
    gap: 80px;
    padding-left: 75px;
    text-align: center;
    margin-top: 415px;
}

.about-section-statistics__item-title {
    font: 700 40px/47px 'Roboto', Helvetica, Arial, sans-serif;
}

.about-section-statistics__item-subtitle {
    font: 400 20px/24px 'Roboto', Helvetica, Arial, sans-serif;
}

.about-section-statistics__item-subtitle:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* About-us Section */

.about-us__section-wrapper {
    display: flex;
    gap: 30px;
}

.about-us-left-section img {
    height: 400px;
    width: 600px;
}

.about-us-right-section {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 62px;
}

.about-us-text {
    font: 300 20px/32px 'Roboto', Helvetica, Arial, sans-serif;
    color: #373737;
    margin-bottom: 30px;
}

.about-us-icons {
    display: flex;
    justify-content: space-between;
}


.about-us-icons img:first-child {
    height: 99px;
    width: 176px;
}

.about-us-icons img:nth-child(2) {
    height: 99px;
    width: 160px;
}

.about-us-icons img:last-child {
    height: 67px;
    width: 117px;
}

/* Service Section */

.service-cards-wrapper {
    display: flex;
    gap: 30px;
}

.service-card {
    height: 207px;
    width: 366px;
    padding: 12px 0 12px 12px;
    border-radius: 5px;
}

.card-active {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.service-card__img {
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
}

.service-card__title {
    font: 500 20px/24px 'Roboto', Helvetica, Arial, sans-serif;
    color: #000;
    margin-bottom: 10px;
}

.service-card__description {
    font: 300 20px/30px 'Roboto', Helvetica, Arial, sans-serif;
    color: #696161;
}

/* Shop Section */

.shop-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.shop-title {
    font: 400 30px/35px 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.shop-undertitle {
    font: 400 20px/30px 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #373737;
}

.shop-navbar-wrapper {
    display: flex;
    gap: 111px;
    margin-bottom: 50px;
}

.shop-navbar__item-active {
    color: #000;
}

.shop-navbar-searcher {
    display: flex;
    background-color: #EFEFEF;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    border-radius: 5px;
    color: #686868;
    font: 400 20px/18px 'Roboto', Helvetica, Arial, sans-serif;
} 

.shop-navbar-items {
    display: flex;
    gap: 30px;
    color: #686868;
    font: 400 20px/30px 'Roboto', Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 267px);
    grid-template-rows: 1fr 1fr;
    gap: 30px !important;
    margin-bottom: 50px;
}

.product-list__item {
    display: flex;
    flex-direction: column;
    width: 267px;
    height: 338px;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 1);
}

.product-list__item img {
    width: 257px;
    height: 172px;
    border-radius: 5px;
}

.product-list__item span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.product-list__info {
    display: flex;
    justify-content: space-between;
    font: 400 20px/30px 'Roboto', Helvetica, Arial, sans-serif;
    color: #373737;
    margin-bottom: 10px;
}

.product-list__info p {
    margin-top: 5px;
}

.product-list__item-decription {
    font: 300 16px/24px 'Roboto', Helvetica, Arial, sans-serif;
    color: #696161;
    margin-bottom: 13px;
}

.product-list__btn {
    display: flex;
    justify-content: center;
}

.product-list-wrapper {
    width: 257px;
    padding: 5px;
}

.product-active {
    box-shadow: 8px 8px 20px 0px rgba(39, 39, 43, 0.1);
}

.product-list-wrapper .btn-primary {
    padding: 8px 13px !important;
}

/* Feedback Section */

.feedback-list {
    display: flex;
    gap: 30px;
    z-index: 0;
}

.feedback-list__item {
    display: flex;
    width: 564px;
    height: 234px;
    gap: 20px;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 5px;
}

.feedback-list__item span {
    padding: 5px;
}

.feedback-list__item span img {
    width: 163px;
    height: 224px;
    border-radius: 5px;
}

.feedback-info {
    padding-top: 15px;
}

.feedback-info__name {
    font: 400 20px/30px 'Roboto', Helvetica, Arial, sans-serif;
    color: #373737;
}

.feedback-info__date {
    font: 400 16px/30px 'Roboto', Helvetica, Arial, sans-serif;
    color: #696161;
    margin-bottom: 10px;
}

.feedback-info__comment {
    font: 300 16px/25px 'Roboto', Helvetica, Arial, sans-serif;
    color: #373737;
    margin-bottom: 15px;
}

.feedback-info__comment b {
    font: 400 16px/25px 'ABeeZee', Helvetica, Arial, sans-serif;
    color: #F6DE00;
}

.feedback-info__rate {
    display: flex;
    gap: 10px;
}

.feedback-list__arrow {
    align-self: center;
    background: rgba(55, 55, 55, 0.5);
    border-radius: 30px;
    color: #fff;
    padding: 13px;
    font-size: 30px !important;
    z-index: 1;
}

.feedback-list__arrow:first-child {
    margin-right: -90px;
}

.feedback-list__arrow:last-child {
    margin-left: -85px;
}

/* Footer */

footer {
    background-color: #373737;
    color: #fff !important;
    padding: 80px 0px 80px 146px;
}

.footer-wrapper {
    display: flex;
    gap: 150px;
}

.footer-section {
    padding-top: 10px;
}

.footer-name {
    display: flex;
    font: 500 20px/24px 'Roboto', Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-list__item a {
    color: #fff !important;
    font: 400 14px/17px 'Roboto', Helvetica, Arial, sans-serif;
}

/* Footer Contacts */

.footer-contacts__name {
    font: 700 35px/41px 'Roboto', Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

.footer-contacts__phone,
.footer-contacts__mail {
    display: flex;
    gap: 10px;
}

.footer-contacts__phone span,
.footer-contacts__mail span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 19px;
    color: #000;
}

.footer-contacts__phone p,
.footer-contacts__mail p {
    display: flex;
    align-items: center;
    font: 400 16px/19px 'Roboto', Helvetica, Arial, sans-serif;
}

.footer-contacts__social {
    display: flex;
    gap: 20px;
}

.footer-contacts__social-item {
    display: flex;
    align-items: center;
}

/* Footer NewsLetter */

.newsletter-input {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

}

.newsletter-input input,
.newsletter-input button {
    border-radius: 5px;
    background-color: #fff;
    padding: 12px !important;
    font: 300 14px/16px 'Roboto', Helvetica, Arial, sans-serif !important;
    color: #373737 !important;
}

.footer-newsletter button {
    border-radius: 5px;
    font: 700 18px/21px 'Roboto', Helvetica, Arial, sans-serif;
    padding: 9px 27px;
}