@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

.btn-primary {
    background-color: #373737;
    color: #fff;
    padding: 13px 17px;
    border-radius: 5px;
    font: 400 18px/normal 'Roboto', Helvetica, Arial, sans-serif;
}

.main-section {
    margin-bottom: 120px;
}

/* Header */

header {
    display: flex;
    padding: 35px 55px 35px 35px;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 25px/normal 'Roboto', Helvetica, Arial, sans-serif;
}

.header-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.header-list__item a {
    font: 400 18px/normal 'Roboto', Helvetica, sans-serif;
}

.header-list__item:last-child {
    margin-left: 56px;
}

/* About Section */

.about-section {
    background-image: url('./img/background_main.png');
    background-size: cover;    
    height: 100vh;
    padding-bottom: 170px;
}